<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/storelist">Start Shopping</a></li>
        <li><a href="#">Add your store</a></li>
        <li><a href="#">My profile</a></li>
        <li><a href="#">Shopping Cart</a></li>
      </ul>
{{!--       {{#if user}}
        <a href="/user/{{user._id}}/home">My Products</a>
        <a href="/user/{{user._id}}/product/create">Create Product</a>
        <a href="/user/profile/{{user._id}}">{{user.name}}'s Profile</a>
        <form action="/authentication/sign-out" method="POST">
          <button>Sign Out</button>
        </form>
        {{else}}
        <a href="/authentication/sign-in">Sign In</a>
        <a href="/authentication/sign-up">Sign Up</a>
      {{/if}} --}}
    </nav>
    {{{body}}}
    <script src="/scripts/script.js"></script>

  </body>
</html>
