<div >
  <div >
    <img id="single-product-img" src="{{ product.productPhotoUrl }}" alt="{{ product.name }}">
    <br>
    <h4 >{{ product.name }}</h4>
    <p >{{ product.shortDescription }}</p>
    <p >Owner: {{ product.ownerId.name }}</p>
    <p >{{ product.longDescription }}</p>
    <p > Price: {{ product.price }} Euros </p>
    <p > Availability: {{ product.quantity }} </p>
    {{#if productOwner}}
    <p>Trigger Quantity: {{ product.supplyTrigger.quantity }} </p>
    <br>
    <a href="/user/{{ product.ownerId._id }}/product/{{ product._id }}/update" >Update
      Product</a>
    {{/if}}

    {{#if user.isclient}}
    <a href="">Order</a>
    {{/if}}

  </div>
</div>