<div >
    <div >
        <h3 >Update your product</h3>
    </div>
    <div >
        <form action="" method="POST">
            {{!-- enctype="multipart/form-data" --}}


            <div >
                <label for="input-name">Name</label>
                <input type="text" name="productName" value='{{ product.name }}' id="input-name">
            </div>

            <div >
                <label for="input-picture">Picture</label>
                <input type="file" name="picture" id="input-picture">
            </div>

            <div >
                <label for="category">Category </label>
                <select require name="category" value='{{ product.category }}'
                    id="productCategory">
                    <option value="type1">Cake</option>
                    <option value="type2">Toast</option>
                    <option value="type3">Coffee</option>
                    <option value="type4">Juice</option>
                    <option value="type5">Omelette</option>
                </select>
            </div>

            <div >
                <label for="input-short-description">Short description</label>
                <input name="shortDescription" type="text" value='{{ product.shortDescription }}'
                    id="input-short-description" placeholder="Describe your product">
            </div>

            <div >
                <label for="input-long-description">Product's long description</label>
                <textarea name="longDescription" id="long-description"
                    placeholder="Describe your product">{{ product.longDescription }}</textarea>
            </div>

            <div >
                <label for="product-quantity">Quantity</label>
                <input name="productQuantity" type="number" value="{{ product.quantity }}"
                    id="product-quantity">
            </div>

            <div >
                <label for="product-price">Product's price</label>
                <input name="productPrice" type="number" value='{{ product.price }}'
                    id="product-price">
            </div>

            <div >
                <label for="supply-trigger">Supply Trigger</label>
                <input name="supplyTrigger" type="number"
                    value='{{ product.supplyTrigger.quantity }}' id="supply-trigger">
            </div>

            <button class="btn btn-success float-right">Update</button>
        </form>

        <form action="/user/{{ product.ownerId._id }}/product/{{ product._id }}/delete" method="POST">
            <button class="btn btn-danger">Delete</button>
        </form>
    </div>
</div>